<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head(hungr)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<section class="section is-small">
    <h1 class="title">Share a Recipe</h1>
    <h2 class="subtitle">
        Yum yum yum
    </h2>
</section>


<div class="container box">
    <form method="post">
        <div class="field">
            <label class="label">Recipe Name</label>
            <div class="control">
                <input th:field="${recipe.name}" class="input" type="text" placeholder="What's cooking?">
            </div>
        </div>

        <div class="field">
            <label class="label">Short Description</label>
            <div class="control">
                <textarea th:field="${recipe.shortDescription}" class="textarea" placeholder="A short description of this meal!"></textarea>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>