<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head(hungr)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<section class="section is-small">
    <h1 class="title">Edit Recipe</h1>
</section>

<form method="post">
    <div class="container box">
        <input type="hidden" th:field="${recipe.id}">
        <div class="field">
            <label class="label">Recipe Name</label>
            <div class="control">
                <input
                        th:field="${recipe.name}"
                        class="input"
                        th:errorclass="is-danger"
                        type="text"
                >
            </div>
            <p class="help is-danger" th:errors="${recipe.name}"></p>
        </div>

        <div class="field">
            <label class="label">Short Description</label>
            <div class="control">
                <textarea
                        th:field="${recipe.shortDescription}"
                        class="textarea"
                        th:errorclass="is-danger"
                >

                </textarea>
            </div>
            <p class="help is-danger" th:errors="${recipe.shortDescription}"></p>
        </div>
    </div>

    <div class="container">
        <div class="panel is-info">
            <h2 class="panel-heading">
                Ingredients
            </h2>
            <div class="panel-block">
                <div class="field has-addons is-panel-input-field">
                    <div class="control is-expanded has-icons-left">
                        <input class="input is-warning is-panel-text-input" type="text" placeholder="Add an Ingredient"
                               id="ingredient-text-input" data-name="ingredients">
                        <span class="icon is-left">
                            <i class="fas fa-plus-circle" aria-hidden="true"></i>
                        </span>
                        <p class="help is-danger" th:text="${ingredientsError} "></p>
                    </div>
                    <div class="control">
                        <a class="button is-info is-panel-input-button" data-text-source="ingredient-text-input"
                           data-text-display="ingredient-input-display">
                            Add
                        </a>
                    </div>
                </div>
            </div>
            <div class="columns is-multiline is-gapless" id="ingredient-input-display">
                <th:block th:each="ingredient: ${recipe.ingredients}">
                    <div class="column is-half panel-column">
                            <label class="panel-block">
                                <span class="panel-icon panel-block-delete">
                                    <i class="fas fa-times-circle" aria-hidden="true"></i>
                                </span>
                                <input class="is-hidden" type="checkbox" name="ingredients" th:value="${ingredient.name}"
                                       checked>
                                <span th:text="${ingredient.name}"></span>
                            </label>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input type="submit" class="button is-link" value="Save"></input>
                <a class="button" th:href="@{/recipes/details/} + ${recipe.getId()}">Cancel</a>
            </div>
        </div>
    </div>

</form>
</body>
</html>

