<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head(hungr)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<section class="section is-large">

    <h1 class="title">All Recipes</h1>
    <h2 class="subtitle">
        A list of all public recipes currently in the database.
    </h2>
    <a class="button is-primary" th:href="@{/recipes/create}">Add your own</a>

</section>
<div class="box" th:unless="${recipes} and ${recipes.size()}">
    <h1 class="title is-4">No Recipes</h1>
    <h2 class="subtitle is-6">
        We couldn't find any recipes in the database. Maybe you could add one for us?
    </h2>
</div>
<div class="container is-fluid">
    <th:block th:each="recipe : ${recipes}">
        <a th:href="@{/recipes/details/} + ${recipe.getId()}" class="box">
                <article class="media">
                    <div class="media-left">
                        <figure class="image is-64x64">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong th:text="${recipe.getName()}">Recipe Name</strong>
                                <br>
                                <span th:text="${recipe.getShortDescription()}"></span>
                            </p>
                        </div>
                    </div>
                </article>
        </a>
    </th:block>
</div>
</body>
</html>