<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head(hungr)"></head>
<body>
<nav th:replace="fragments :: navbar"></nav>


<section class="hero is-link is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns">
                <div class="column">
                    <p class="title">
                        Find your hungr
                    </p>
                    <p class="subtitle">
                        What's cooking?
                    </p>
                </div>
                <div class="column is-one-third">

                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>